# Node.js dependencies
node_modules/
npm-debug.log
yarn-error.log

# Angular build output and temp files
dist/
tmp/
out-tsc/
bazel-out/
.angular/

# Environment files (if you have them)
.env
.env.local

# IDEs and Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
